.QuizForm {
  height: 100%;
  padding: 16px;
}

.QuizForm fieldset {
  height: 100%;
}

.QuizForm fieldset > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  line-height: 1;
}

.QuizForm legend {
  font-size: 24px;
  margin-bottom: 20px;
}

.QuizForm__label_group + .QuizForm__label_group {
  margin-top: 10px;
}

.QuizForm input {
  margin: 3px 5px 0 0;
}

.QuizForm__icon {
  padding-left: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.QuizForm .fa-check {
  color: rgb(103, 201, 90);
}

.QuizForm .fa-times {
  color: rgb(253, 151, 38);
}

.QuizForm button {
  width: fit-content;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 60px;
  color: #e30425;
  position: absolute;
  bottom: -50.4px;
  right: 21.5px;
  padding: 0;
}

.QuizForm .fa-circle {
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
