.NextUp {
  text-align: center;
}

.NextUp a {
  color: white;
  text-decoration: none;
}

.NextUp__header {
  color: #e30425;
  background-color: white;
  line-height: 1;
  font-family: "Lekton", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  padding: 8px 16px;
  border-bottom-right-radius: 8px;
}

.NextUp__container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(https://picsum.photos/800/200?random=1);
  background-position: center;
  background-size: cover;
  font-size: 48px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

.NextUp__container--locked {
  filter: grayscale(100%);
}
