.NextUp {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.NextUp a {
  color: white;
  text-decoration: none;
}

.NextUp a:hover .NextUp__header,
.NextUp a:active .NextUp__header,
.NextUp a:focus .NextUp__header {
  background-color: #e30425;
  color: white;
}

.NextUp__header {
  color: #e30425;
  background-color: white;
  line-height: 1;
  font-family: "Lekton", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  padding: 8px 16px;
  border-bottom-right-radius: 8px;
  z-index: 5;
}

.NextUp__container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  background-position: center;
  background-size: cover;
  font-size: 48px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  line-height: 1;
  color: white;
}

.NextUp__learn-loading .NextUp__container,
.NextUp__study-loading .NextUp__container {
  border: 2px solid #f2f4f5;
}

.NextUp__learn-loading .NextUp__header,
.NextUp__study-loading .NextUp__header {
  border-bottom: 2px solid #f2f4f5;
  border-right: 2px solid #f2f4f5;
}

.NextUp--loading {
  height: 48px;
  width: 175px;
  background-color: rgb(242, 244, 245);
  margin: auto;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.NextUp__placeholder::before {
  content: " ";
  display: block;
  width: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -150px;
  background: linear-gradient(
    to top right,
    transparent 0%,
    white 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  z-index: 6;
}

.NextUp__header-loading {
  width: 56px;
  height: 16px;
  background-color: rgb(242, 244, 245);
}

.NextUp__container:hover,
.NextUp__container:active,
.NextUp__container:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: rgba(250, 250, 250, 0.5);
}

.NextUp__container--locked {
  filter: grayscale(100%);
}

@media screen and (min-width: 500px) {
  .NextUp {
    width: 500px;
    margin: 0 auto;
  }

  .NextUp__container {
    margin-bottom: 16px;
  }
}
