.LoginForm {
  margin: auto;
}

.LoginForm h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}

.LoginForm .hint {
  margin: 0px 0px 32px;
  text-align: center;
  line-height: 1;
  font-size: 13px;
  color: #808080;
}

.LoginForm__buttons {
  max-width: 288px;
  margin: 0px auto;
}

.LoginForm__other_links {
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
  color: grey;
}

.LoginForm__other_links a {
  color: #2d8cfb;
  font-weight: 600;
}

.LoginForm--error {
  margin-bottom: 8px;
}

.LoginForm--error p {
  font-size: 16px;
  color: rgb(253, 151, 38);
  line-height: 1;
  font-weight: 600;
}
