.Learn {
  height: 100%;
}

.Learn--info-text {
  grid-column-end: span 4;
  line-height: 1;
  color: grey;
  font-family: "Lekton", sans-serif;
}

.Learn--loading {
  width: 100%;
  padding-top: calc(100% + 48px);
  grid-column-end: span 2;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid rgba(190, 190, 190, 0.5);
}

.Learn--loading-picture-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Learn--loading-picture {
  width: 75%;
  height: 75%;
  background-color: rgba(190, 190, 190, 0.5);
  border-radius: 50%;
}

.Learn--loading-title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  border-top: 2px solid rgba(190, 190, 190, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Learn--loading-title {
  height: 8px;
  width: 75%;
  background-color: rgba(190, 190, 190, 0.5);
}

.Learn--loading-gradient::before {
  content: " ";
  display: block;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -250px;
  background: linear-gradient(
    to bottom right,
    rgb(0, 0, 0, 0),
    rgb(0, 0, 0, 0),
    rgb(255, 255, 255, 0.5) 50%,
    rgb(0, 0, 0, 0),
    rgb(0, 0, 0, 0)
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  z-index: 6;
}

@media screen and (min-width: 500px) {
  .Learn--info-text {
    grid-column-end: span 6;
  }
}

@media screen and (min-width: 1000px) {
  .Learn--info-text {
    grid-column-end: span 8;
  }
}
