.Learn {
  height: 100%;
}

.Learn--info-text {
  grid-column-end: span 4;
  line-height: 1;
  color: grey;
  font-family: "Lekton", sans-serif;
}

@media screen and (min-width: 500px) {
  .Learn--info-text {
    grid-column-end: span 6;
  }
}

@media screen and (min-width: 1000px) {
  .Learn--info-text {
    grid-column-end: span 8;
  }
}
