.Module {
  padding: 16px;
  max-width: 944px;
  margin: 0 auto;
}

.Module header {
  font-size: 60px;
  line-height: 1;
  font-weight: 600;
  margin: 65px 0;
}

.Module h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  margin: 30px 0;
}

.Module h3 {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 10px;
}

.Module h4 {
  font-size: 17px;
  line-height: 1;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}

.Module p {
  margin-bottom: 20px;
  line-height: 1.7;
  text-indent: 24px;
}

.Module em {
  font-weight: 600;
}

.Module sub {
  vertical-align: sub;
  font-size: 10px;
}

.Module img {
  width: 100%;
}

.Module__buttons {
  display: flex;
  justify-content: center;
}
