.Study {
  height: 100%;
}

.Study--info-text {
  grid-column-end: span 4;
  line-height: 1;
  color: grey;
  font-family: "Lekton", sans-serif;
}

.Study--info-text h1 {
  font-size: 24px;
  text-align: center;
  color: #4e0d3a;
  font-weight: 600;
  font-family: "Merriweather", serif;
}

.Study--info-text a {
  color: #2d8cfb;
}

@media screen and (min-width: 500px) {
  .Study--info-text {
    grid-column-end: span 6;
  }
}

@media screen and (min-width: 1000px) {
  .Study--info-text {
    grid-column-end: span 8;
  }
}
