.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4e0d3a;
  color: white;
  overflow: visible;
  z-index: 10;
  height: 56.2px;
}

.NavBar__container {
  line-height: 1;
  font-size: 16px;
  padding: 0 16px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavBar__container a {
  margin-left: 24px;
}

.NavBar a {
  color: white;
  text-decoration: none;
}

.NavBar--marquee {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: 600;
}

a.NavBar--marquee {
  margin: 0;
}

.NavBar--no-pill {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NavBarPill,
.NavBarPill--active {
  padding: 16.1px 0;
  border-bottom: 4px solid #4e0d3a;
  border-top: 4px solid #4e0d3a;
}

.NavBarPill--active {
  border-bottom: 4px solid #e30425;
}

.NavBar__logo_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .NavBar button {
    display: none;
  }

  .NavBar__container a {
    margin-left: 32px;
  }

  a.NavBar--marquee {
    margin: 0;
  }
}
