.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4e0d3a;
  color: white;
  overflow: visible;
  z-index: 10;
  height: 56.2px;
}

.NavBar__container {
  line-height: 1;
  font-size: 24px;
  padding: 0 16px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.NavBar__container a {
  margin-left: 24px;
}

.NavBar a {
  color: white;
  text-decoration: none;
}

.NavBar--marquee {
  font-family: "Merriweather", serif;
  font-weight: 600;
}

.NavBar--no-pill {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NavBarPill,
.NavBarPill--active {
  padding: 12.1px 0;
  border-bottom: 4px solid #4e0d3a;
  border-top: 4px solid #4e0d3a;
}

.NavBarPill--active {
  border-bottom: 4px solid #e30425;
}

.NavBar__logo_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.NavBar button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 24px;
}

.NavBar__subnav {
  background-color: #4e0d3a;
}

.NavBar__subnav_container {
  line-height: 1;
  font-size: 24px;
  padding: 16px 16px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
}

.NavBar__subnav .NavBar--no-pill + .NavBar--no-pill {
  margin-top: 16px;
}
