.Footer {
  background-color: rgb(78, 13, 58);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Footer__container {
  padding: 16px;
  width: 100%;
  max-width: 944px;
  font-size: 24px;
  min-height: 56px;
  margin: auto;
}
